name: 'screen_streamer'
description: "A library that can stream an android, ios, etc. Flutter application's screen using WebRTC"
homepage: 'https://github.com/peiffer-innovations/screen_streamer'
version: '1.0.1+8'

environment: 
  sdk: '>=3.0.0 <4.0.0'

dependencies: 
  device_info_plus: '^10.1.0'
  flutter: 
    sdk: 'flutter'
  flutter_background_service: '^5.0.6'
  flutter_webrtc: '^0.11.5'
  logging: '^1.2.0'
  sdp_transform: '^0.3.2'
  web_socket_channel: '^2.4.0'

dev_dependencies: 
  flutter_lints: '^4.0.0'
  flutter_test: 
    sdk: 'flutter'

permittedLicenses: 
  - 'Apache-2.0'
  - 'BSD-2-Clause'
  - 'BSD-3-Clause'
  - 'MIT'
  - 'MIT-Modern-Variant'
  - 'MPL-2.0'
  - 'Zlib'

packageLicenseOverride: 
  flutter: 'BSD-3-Clause'
  flutter_driver: 'BSD-3-Clause'
  flutter_goldens: 'BSD-3-Clause'
  flutter_localizations: 'BSD-3-Clause'
  flutter_web_plugins: 'BSD-3-Clause'
  flutter_test: 'BSD-3-Clause'
  fuchsia_remote_debug_protocol: 'BSD-3-Clause'
  integration_test: 'BSD-3-Clause'
  rxdart: 'Apache-2.0'

ignore_updates: 
  - 'archive'
  - 'async'
  - 'boolean_selector'
  - 'characters'
  - 'charcode'
  - 'collection'
  - 'clock'
  - 'crypto'
  - 'fake_async'
  - 'file'
  - 'matcher'
  - 'material_color_utilities'
  - 'meta'
  - 'path'
  - 'source_span'
  - 'stack_trace'
  - 'stream_channel'
  - 'string_scanner'
  - 'sync_http'
  - 'term_glyph'
  - 'test_api'
  - 'typed_data'
  - 'vector_math'
  - 'webdriver'
  - 'web_socket_channel'
